<div class="wrapper">
  <div class="sidebar" data-color="orange">
    <div class="logo">
      <a href="#" class="simple-text logo-mini">CG</a>

      <a href="#" class="simple-text logo-normal">CapregSoft</a>

      <div class="navbar-minimize">
        <button id="minimizeSidebar" class="btn btn-outline-white btn-icon btn-round">
          <i class="now-ui-icons text_align-center visible-on-sidebar-regular"></i>
          <i class="now-ui-icons design_bullet-list-67 visible-on-sidebar-mini"></i>
        </button>
      </div>
    </div>
    <app-side-bar></app-side-bar>

    </div>
    <app-nav-bar></app-nav-bar>
</div>

