<div class="fixed-plugin">
  <div class="dropdown show-dropdown">
      <a href="#" data-toggle="dropdown">
          <i class="fa fa-cog fa-2x"> </i>
      </a>
      <ul class="dropdown-menu">
          <li class="header-title"> Sidebar Background</li>
          <li class="adjustments-line">
              <a href="javascript:void(0)" class="switch-trigger background-color">
                  <div class="badge-colors text-center">
                      <span class="badge filter badge-yellow" data-color="yellow"></span>
                      <span class="badge filter badge-blue" data-color="blue"></span>
                      <span class="badge filter badge-green" data-color="green"></span>
                      <span class="badge filter badge-orange active" data-color="orange"></span>
                      <span class="badge filter badge-red" data-color="red"></span>
                  </div>
                  <div class="clearfix"></div>
              </a>
          </li>


          <li class="header-title">
              Sidebar Mini
          </li>
          <li class="adjustments-line">

              <div class="togglebutton switch-sidebar-mini">
                  <span class="label-switch">OFF</span>
                  <input type="checkbox" name="checkbox" checked class="bootstrap-switch" data-on-label=""
                      data-off-label="" />
                  <span class="label-switch label-right">ON</span>
              </div>
          </li>

          <li class="button-container">
              <a href="#product/now-ui-dashboard-pro" target="_blank"
                  class="btn btn-primary btn-block btn-round">Buy Now</a>
              <a href="#"
                  target="_blank" class="btn btn-default btn-block btn-round">
                  <i class="now-ui-icons files_single-copy-04"></i>
                  Documentation
              </a>
              <a href="#product/now-ui-dashboard" target="_blank"
                  class="btn btn-info btn-block btn-round">
                  <i class="now-ui-icons files_single-copy-04"></i>
                  Get Free Demo!
              </a>
          </li>

          <li class="header-title">Thank you for 95 shares!</li>

          <li class="button-container text-center">
              <button id="twitter" class="btn btn-round btn-info"><i class="fab fa-twitter"></i> &middot;
                  45</button>
              <button id="facebook" class="btn btn-round btn-info"><i class="fab fa-facebook-f"></i> &middot;
                  50</button>
              <br>
              <br>
              <a class="github-button" href="https://github.com/CapregSoft"
                  data-icon="octicon-star" data-size="large" data-show-count="true"
                  aria-label="Star ntkme/github-buttons on GitHub">Star</a>
          </li>
      </ul>
  </div>
</div>

