
<footer class="footer">
    <div class="container-fluid">
      <nav>
        <ul>
          <li>
            <a href="https://www.capregsoft.com/">
              CapregSoft
            </a>
          </li>
          <li>
            <a href="https://www.capregsoft.com/">
              About Us
            </a>
          </li>
          <li>
            <a href="https://www.capregsoft.com/">
              Blog
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        &copy;
        {{test | date: 'yyyy'}}, Designed by
        <a href="https://www.capregsoft.com/" target="_blank">CapregSoft</a>. Coded by
        <a href="https://www.capregsoft.com/" target="_blank">CapregSoft</a>.
      </div>
    </div>
  </footer>
  